*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f2f5ff;
}

.container{
    width: 95%;
    max-width: 850px;
    height: 95vh;

    background: #ffffffd9;
    border-radius: 25px;
    padding: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card{
    width: 100%;
    height: 100%;
    border-radius: 22px;
    background: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #ececec;
}

.card-section{
    display: flex;
    justify-content: space-between;
    background: #eef1ff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.hit-value,
.timer,
.score,
.highscore{
    flex: 1;
    margin: 5px;
    text-align: center;
    padding: 12px 15px;
    font-size: 18px;
    font-weight: 600;

    background: #fff;
    border-radius: 14px;
    border: 1px solid #ddd;
    color: #444;
}

.bord-container{
    flex: 1;
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    overflow-y: auto;
}

.bord-container::-webkit-scrollbar{
    width: 8px;
}
.bord-container::-webkit-scrollbar-thumb{
    background: #d0d4ff;
    border-radius: 10px;
}

.circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 700;
    color: white;
    background: #8ea1ff;
    transition: 0.25s;
}

.circle:hover{
    background: #6b83ff;
    transform: scale(1.15);
}

/* Mobile View */
@media(max-width: 768px){
    .circle{
        height: 45px;
        width: 45px;
        font-size: 16px;
    }

    .card-section{
        flex-direction: column;
        gap: 8px;
    }

    .hit-value,
    .timer,
    .score,
    .highscore{
        font-size: 14px;
    }
}
